{% extends 'base.html' %} {% block content %}

<div class="row">
    <h2 class="text-center" > Movie Schedules</h2>
    <a class="btn btn-primary" href="{% url 'schedule_movie' %}">
        Add Movie Schedule
    </a>
    <a class="btn btn-secondary" href="#">
        Generate Report
    </a>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th class="text-center" scope="col">#</th>
      <th class="text-center" scope="col">Name</th>
      <th class="text-center" scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for schedule in movie_schedules %}
        <tr>
        <th class="text-center">{{forloop.counter}}</th>
        <th class="text-center">{{schedule.name}}</th>
        <th class="text-center d-flex gap-2">
            <a class="btn btn-primary d-block w-100" href="{% url 'edit_movie' schedule.id %}"> Edit Schedule </a>
            <button type="button" data-bs-toggle="modal" data-bs-target="#deleteModal{{forloop.counter}}" class="btn btn-danger d-block w-100"> Delete Schedule </button>
        </th>
        </tr>
            <!-- Modal -->
        <div class="modal fade" id="deleteModal{{forloop.counter}}" tabindex="-1" aria-labelledby="deleteModal{{forloop.counter}}Label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModal{{forloop.counter}}Label">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete {{schedule.name}}?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <a href="{% url 'delete_movie' schedule.id %}" class="btn btn-primary">Delete</a>
            </div>
            </div>
        </div>
        </div>
    {% endfor %}
  </tbody>
</table>
<div class="row d-flex justify-content-center pb-5 mb-5 pt-2">
    {% if movies.has_previous %}
        <a class="btn btn-dark infinite-more-link mx-2 " href="?page={{ movies.previous_page_number }}">Previous</a>
    {% endif %}
    {% if movies.has_next %}
    <a class="btn btn-dark infinite-more-link" href="?page={{ movies.next_page_number }}">Next</a>
    {% endif %}
</div>



{% endblock content %}
