{% extends 'dashboard_base.html' %} {% block content_admin %}
<h2 class="text-center mt-4 py-0">Transactions</h2>
<form action="">
        <input type="text" name="search" placeholder="Search by title" value="{{request.GET.title}}">
        <input class="btn btn-info" type="submit" value="Search">
    </form>
<div class="table-responsive m-0 p-0">
  <table class="table table-striped table-bordered border-dark">
    <thead class="table-dark">
      <tr>
        <th class="text-center" scope="col">#</th>
        <th class="text-center" scope="col">Transaction</th>
        <th class="text-center" scope="col">Email</th>
        <th class="text-center" scope="col">Amount</th>
        <th class="text-center" scope="col">Date Issued</th>
        <th class="text-center" scope="col">Date Approved</th>
        <th class="text-center" scope="col">Status</th>
        <th class="text-center" scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for transaction in transactions %}
      <tr>
        <th class="text-center">{{forloop.counter}}</th>
        <th class="text-center">
          <a href="{% url 'list_tickets' transaction.id %}" class="text-info text-decoration-none">
            {{transaction.id}}
          </a>
        </th>
        <th class="text-center">
          <a href="{% url 'profile' transaction.user.id %}" class="text-info text-decoration-none">
            {{transaction.user.email}}
          </a>
        </th>
        <th class="text-center">{{transaction.amount}}</th>
        <th class="text-center">{{transaction.created_at}}</th>
        <th class="text-center">
          {% if transaction.isPaid %}
            {{transaction.modified_at}}
          {% else %}
            <b style="color:red" >-----</b>
          {% endif %}
        </th>
        <th class="text-center">
          {% if transaction.isPaid %}
            <b style="color:green" >Paid</b>
          {% else %}
            <b style="color:red" >Not Paid</b>
          {% endif %}
        </th>
        <th class="text-center d-block justify-content-center gap-2">
          <div class="dropdown">
          <a
            class="btn btn-primary dropdown-toggle w-100"
            href="#"
            role="button"
            id="dropdownMenuLink"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Actions
          </a>

          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item" href="{% url 'approve_transaction' transaction.id %}">Approve transaction</a></li>
          </ul>
        </div>
      </th>
      </tr>
  
      {% endfor %}
    </tbody>
  </table>
</div>
<div class="row">
  <div
    class="col d-flex align-items-center justify-content-center"
    role="group"
  >
    {% if transactions.has_previous %}
    <a class="btn btn-dark mx-2" href="?page={{ transactions.previous_page_number }}"
      >Previous</a
    >
    {% endif %} {% if transactions.has_next %}
    <a class="btn btn-dark" href="?page={{ transactions.next_page_number }}">Next</a>
    {% endif %}
  </div>
</div>

{% endblock content_admin %}
