{% extends 'dashboard_base.html' %} {% block content_admin %}
<section class="row">
  <div class="col-8">
    <h2 class="text-center mt-4 py-0">Halls</h2>
    <form action="" class="my-2" >
        <input type="text" name="search" placeholder="Search by hall name" value="{{request.GET.title}}">
        <input class="btn btn-info" type="submit" value="Search">
    </form>
  </div>
  <div class="col-4 p-4 d-flex justify-content-end align-items-start gap-2 py-0">
    <a class="btn btn-dark mx-2" href="{% url 'add_hall' %}"> Add Halls </a>
  </div>
</section>
<div class="table-responsive m-0 p-0">
  <table class="table table-striped table-bordered border-dark">
    <thead class="table-dark">
      <tr>
        <th class="text-center" scope="col">#</th>
        <th class="text-center" scope="col">Name</th>
        <th class="text-center" scope="col">Actions</th>
        
      </tr>
    </thead>
    <tbody>
      {% for hall in halls %}
      <tr>
        <th class="text-center">{{forloop.counter}}</th>
        <th class="text-center">{{hall.name}}</th>
        <th class="text-center ">
          <div class="dropdown">
          <a
            class="btn btn-primary dropdown-toggle w-100"
            href="#"
            role="button"
            id="dropdownMenuLink"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Actions
          </a>

          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item" href="{% url 'delete_hall' hall.id %}">Delete Hall</a></li>
          </ul>
        </div>
      </th>
      </tr>
  
      {% endfor %}
    </tbody>
  </table>
</div>
<div class="row">
  <div
    class="col d-flex align-items-center justify-content-center"
    role="group"
  >
    {% if halls.has_previous %}
    <a class="btn btn-dark mx-2" href="?page={{ halls.previous_page_number }}"
      >Previous</a
    >
    {% endif %} {% if halls.has_next %}
    <a class="btn btn-dark" href="?page={{ halls.next_page_number }}">Next</a>
    {% endif %}
  </div>
</div>

{% endblock content_admin %}
