:root {
    --nav-height: 70px;
  }
  
body::before {
  /* --nav-height: 70px; */
  display:block;
  content: '';
  height: var(--nav-height);
}

.alert-cstm {
  margin-top: calc(var(--nav-height) + 50);
}