{% extends 'base.html' %} {% block style %} 
<style>
  .layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  .seats-container {
    perspective: 1000px;
    /* margin-bottom: 30px; */
  }

  .seat {
    background-color: rgb(179, 175, 175);
    height: 28px;
    width: 30px;
    margin: 3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .seat.selected {
    background-color: #6f76da;
  }
  
  .seat.occupied {
    background-color: #454545;
  }

  .seat:nth-of-type(2) {
    margin-right: 18px;
  }

  .seat:nth-last-of-type(2) {
    margin-left: 18px;
  }

  .seat:not(.occupied):hover {
    cursor: pointer;
    transform: scale(1.2);
  }

  .showcase .seat:not(.occupied):hover {
    cursor: default;
    transform: scale(1);
  }

  .showcase {
    background: rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    border-radius: 5px;
    color: #777;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
  }

  .showcase li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
  }

  .showcase li small {
    margin-left: 2px;
  }

  .seats-row {
    display: flex;
  }

  .screen {
    background-color: #fff;
    height: 70px;
    width: 90%;
    margin: 15px 0;
    transform: rotateX(-45deg);
    box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
  }
</style>
{% endblock style %} {% block content %}

{% load tags %}
<div class="layout">
  <div class="movie-container my-4 h1">
    <label>Choose your seat</label>
  </div>

  <ul class="showcase">
    <li>
      <div class="seat"></div>
      <small>Available</small>
    </li>
    <li>
      <div class="seat selected"></div>
      <small>Selected</small>
    </li>
    <li>
      <div class="seat occupied"></div>
      <small>Occupied</small>
    </li>
  </ul>
  <div class="seats-container">
    <div class="screen ms-auto"></div>

    {% for row in 'AABBCC' %}
    <div class="d-flex">
      <div class="fs-3 mx-2">{{row}}</div>
      <div class="seats-row">
        {% for seat in movie_schedule.hall.seats.all|in_row:forloop.counter %}
        <div 
          id="{{seat.id}}" onclick="toggleSeat(this)" class="seat {% if seat in movie_schedule.reserved_seats.all or movie_schedule.selected_seats.all %} occupied {% endif %}"
        ></div>
        {% endfor %}
      </div>
    </div>
    {% endfor %}
  </div>

  
  <a href="#asdasdasd" class="btn btn-primary d-block" onclick="proceedToCheckout()">
    Proceed to Checkout
  </a>
  
</div>
  {% endblock content %}
  {% block scripts %}
  <script>
    const selectedSeats = [];
    const toggleSeat = (seat) => {
      if (seat.classList.contains('occupied')) {
        return;
      }
      seat.classList.toggle('selected');
      if (seat.classList.contains('selected')) {
        selectedSeats.push(seat.id);
      } else {
        selectedSeats.splice(selectedSeats.indexOf(seat.id), 1);
      }
      console.log(selectedSeats);
    };

    const proceedToCheckout = () => {
      if (selectedSeats.length === 0) {
        alert('Please select at least one seat');
        return;
      }
      const url = new URL(window.location.href);
      const movieScheduleId = url.searchParams.get('movie_schedule_id');
      const urlParams = new URLSearchParams();



      const data = JSON.stringify(selectedSeats);
      urlParams.append('movie_schedule_id', movieScheduleId);
      urlParams.append('seats', selectedSeats);
      window.location.href = `/customer/checkout?${urlParams.toString()}`;
    };
  </script>

  {% endblock scripts %}
