{% extends 'base.html' %}
{% block content %}

<div class="container my-3">
    <div class="row">
      <div class="card p-3">
        <div class="card-body">
          <div class="col-md-12">
              <h1>Transaction History</h1>
              <table class="table table-striped">
                  <thead>
                      <tr>
                          <th>Transaction ID</th>
                          <th>Movie</th>
                          <th>Seats</th>
                          <th>Price</th>
                          <th>Date</th>
                      </tr>
                  </thead>
                  <tbody>
                      {% for transaction in transactions %}
                      <tr>
                          <td>{{ transaction.id }}</td>
                          <td>{{ transaction.movie }}</td>
                          <td>{{ transaction.seats }}</td>
                          <td>{{ transaction.price }}</td>
                          <td>{{ transaction.date }}</td>
                      </tr>
                      {% endfor %}
                  </tbody>
              </table>
          </div>
        </div>
      </div>
    </div>
</div>

{% endblock content %}