{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
        {% if form.errors %}
            <div class="alert alert-danger">
                {{ form.errors }}
            </div>
        {% endif %}
        <div class="col-12 col-lg-9 col-xl-7">
            <div
            class="card shadow-2-strong card-registration"
            style="border-radius: 15px"
            >
                <div class="card-body p-4 p-md-5">
                    <p class="text-center h1 fw-bold mb-4 pb-2 pb-md-0 mb-md-5">
                    Log Into Your Account
                    </p>
                    <form method="POST" id='loginForm'>
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6 mb-4">
                                {{ form.username|as_crispy_field }}
                            </div>
                            <div class="col-md-6 mb-4">
                                {{ form.password|as_crispy_field }}
                            </div>
                        </div>
                        <div class="row text-muted mb-4">
                            <div class="col-12">
                                Don't have an account?
                                <a class="ml-2" href="{% url 'register' %}">Sign Up</a>
                            </div>
                        </div>

                        <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                            <input class="btn btn-primary" type="submit" value="Log In" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock content %}
{% block scripts %}
<script>
    var loginForm = '#loginForm';

    $(loginForm).submit(function(e) {
        e.preventDefault();
        var form = $(this);
        var url = form.attr('action');
        var data = form.serialize();
        $.ajax({
            url: "{% url 'login' %}",
            type: "POST",
            data: $(loginForm).serialize(),
            success: function(data) {
                alert(data['success']);
                if (!(data['success'])) {
                    // Here we replace the form, for the
                    $(loginForm).replaceWith(data['form_html']);
                }
                else {
                    // Here you can show the user a success message or do whatever you need
                    $(loginForm).find('.success-message').show();
                }
            },
            error: function () {
                $(loginForm).find('.error-message').show()
            }
        });
    });
    
</script>
{% endblock scripts %}